/*
Emoji Symbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
	font-family: 'Emoji Symbols';
	src: url('emoji-symbols.woff') format('woff');
}

.emoji {
	position: relative;
	display: inline-block;
	font-family: 'Emoji Symbols';
	font-style: normal;
	font-weight: normal;
    font-size: 2em;
    line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

