
<!DOCTYPE html>
<html ng-app="ebony.demo">
<head>
<title>IVORY Framework</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link id="main_css" rel="stylesheet" href="/ebony/stylesheets/main_ebony.css" media="all">
<link id="index_css" rel="stylesheet" href="/ebony/stylesheets/index.css" media="all">

<script type="text/javascript" src="ebony/javascripts/bundle.min.js"></script>
<script type="text/javascript" src="ebony/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="ebony/ui/javascripts/ebony.js"></script>
<script type="text/javascript" src="ebony/ui/javascripts/accordion.js"></script>
<script type="text/javascript" src="ebony/ui/javascripts/tabs.js"></script>
<script type="text/javascript" src="javascripts/demo.js"></script>
<body>
	<div id="content" class="grid">
		<div class="row space-top space-bot" ng-controller="AccordionDemoController">
			<accordion>
				<accordion-group title="Static Title" is-open="true">
					<p>Static content</p>
				</accordion-group>
				<accordion-group ng-repeat="group in groups">
					<accordion-title>{{group.title}}</accordion-title>
					<p>{{group.content}}</p>
				</accordion-group>
			</accordion>
		</div>
		<div class="row space-top space-bot" ng-controller="TabsDemoController">
			<tabs>
				<tab>
					<tab-title>Static Title</tab-title>
					<tab-content>
						<p>Static content</p>
					</tab-content>
				</tab>
				<tab ng-repeat="group in groups">
					<tab-title>{{group.title}}</tab-title>
					<tab-content>
						<p>{{group.content}}</p>
					</tab-content>
				</tab>
			</tabs>
		</div>
	</div>
</body>
</html>
