@color-bg: #f3f3f3;
@color-bg-lesser: #e9e9e9;
@color-front-normal: rgba(0,0,0,0.87);
@color-front-lesser: rgba(0,0,0,0.54);
@color-front-dim: rgba(0,0,0,0.28);
@color-accent: #1091b3;
@color-anchor-hover: @color-front-lesser;
@color-anchor-focus: @color-front-lesser;
@color-border: darken(@color-bg-lesser, 10%);
@color-border-focus: rgba(82, 168, 236, 0.8);
@color-box-shadow: rgba(82, 168, 236, 0.5);
@color-form-span-bg: @color-bg-lesser;
@color-button-bg: @color-bg-lesser;
@color-button-active-bg: lighten(@color-button-bg, 5%);
@color-alert-normal: #c09853;
@color-alert-normal-bg: #fcf8e3;
@color-alert-success: #468847;
@color-alert-success-bg: #dff0d8;
@color-alert-error: #b94a48;
@color-alert-error-bg: #f2dede;
@color-alert-info: #3a87ad;
@color-alert-info-bg: #d9edf7;
@color-table-alter: @color-bg-lesser;

@import "highlight/github.css";
